/* Product-In-Cart.jsx */
.cartProduct {
    width: 600px;
    height: 300px;
    background: lightblue;
    display: flex;
    padding: 10px;
    gap: 10px;
    box-sizing: border-box;
    position: relative;
}
.checkoutCard{
    width: 600px;
    height: 300px;
    background: lightblue;
    display: flex;
    flex-wrap: wrap;
}
.cartImg{
    margin: 10px;
    width: 200px;
    height: 280px;
}
.cartText {
    flex-grow: 1;
    font-size: 14px;
    overflow: hidden;
}
.cartRemove {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.cartRemoveButton {
    font-size: larger;
    padding: 6px 12px;
}
.cartRemoveButton:hover{
    cursor: pointer;
}

/* Cart.jsx */
.cartPage{
    display: flex;
    flex-direction: row;
    gap: 500px;
}
.cartContainer{
    margin-left: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Checkout-Card.jsx */
.checkoutCard{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.paymentButton{
    height: 100px;
}